@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Serif+Pro:wght@200;400&display=swap');

$mainFont: 'Source Serif Pro', serif;
$secondaryFont: 'Poppins', sans-serif;


$textMd: 1.2rem;
$textLg: 1.5rem;
$textSm: 1rem;
$textXs: 0.8rem;

$textBold:600;
$textRegular:400;
$textThin:200;


