$mainColor: #025373;
$secondaryColor: #3999BF;
$terciaryColor: #45A9BF;
$keyColor: #1760BF;
$fourColor: #eff0f2;
$alternativeColor: #F27141;
$anothercolor: #80DDF2;
$align: center;
$colorblue:#008CD4;
$flex: flex;
$width: 32%;
$p-relative:relative;
$mg: auto;


*{
    padding: 0;
    margin: 0;
}

@mixin botonera ($colorblue, $position, $align-item) {
    color: $secondaryColor;
    position: $position;
    align-items: $align-item;

}

body {
    background-image: url(../Imagenes/AGUA.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
  

}

.anuncio__box--white {
    text-align: $align;
    position: sticky;
}


main section {
    color: $anothercolor;

}

.header-img {
    width: 150px;

}

.carousel img {
    width: 1200px;
    margin: auto;
}


.transform:hover {
    transform: translateX(20px);
    cursor: pointer;
    font-size: $textXxl;
    transition: transform 2s;
}

.h2-1 .transform:hover {
    transform: translateY(20px);
}

.h2 {
   color: $colorblue ;
   margin-bottom: 5px;

}

 .col-4 img:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
} 

.card-img-top{
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.card{
    overflow: hidden;
}


.product-item{
    height: auto;
    width: auto;
  }



  .card-info-img {
    width: 100%;
    border-radius: 4px;

}

.armazones-text{
    max-width: 400px;
    text-align: center;

}

.kodak-title h5{
    color: white;
}

.kodak-img{
    width: 80%;
margin-left: 150px;
 
}

.caorusel img{
    width: 1200px;
    margin: auto;
}


.text-center{
    color: #F28DBC;
    font-family: $mainFont;
    font-size: $textLg;
}

.alert-text {
    color: #F28DBC;
    font-family: $mainFont;
    font-size: $textMd;
}

.text-title h2{
    color: #ADD9D9;
    font-size: $textXxl;
}