$mainColor: #025373;
$secondaryColor:#3999BF;
$terciaryColor: #45A9BF;
$keyColor:  #1760BF;
$fourColor:#eff0f2;
$alternativeColor:  #F27141;
$anothercolor:#80DDF2;

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondaryColor;

    ul{
        color: $fourColor;
    }

    li{
        color: $fourColor;
    }

}

.anuncio__box--white{
   text-align: $align;
    background-color: $fourColor;
    color: darkgray;
    font-size: $textLg;
    width: 100%;

}


main section{
    color: $anothercolor;
    
}

.historia{
    font-size: $textLg;
    font-family: $secondaryFont;

}



.historia h1{
    font-size: $textXxl;
    font-family: $secondaryFont;
    color: $terciaryColor;

}

.historia h2{
    font-size: $textXl;
    font-family: $mainFont;
}

.historia p{
    font-family: $mainFont;
}

.historia-flex{
    display: $flex;
    justify-content: center;
    text-align: center;

}

.agudeza-title{
    color: $secondaryColor;
}

.img-agudeza{
    width: 32%;
    text-align: center;
    justify-content: center;
    float: inline-start;
}

.container-info{
    display: $flex;
}


.img-anuncios{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.historia h1 h2{
    font-size: $textXxl;
    font-family: $mainFont;
    color: $secondaryColor;

   

    }
