$mainColor: #025373;
$secondaryColor:#3999BF;
$terciaryColor: #45A9BF;
$keyColor:  #1760BF;
$fourColor:#eff0f2;
$alternativeColor:  #F27141;
$anothercolor:#80DDF2;

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondaryColor;

    ul{
        color: $fourColor;
    }

    li{
        color: $fourColor;
    }

}

.anuncio__box--white{
   text-align: $align;
    background-color: $fourColor;
    color: darkgray;
    font-size: $textLg;
    width: 100%;

}


main section{
    color: $anothercolor;
    
}

.historia{
    font-size: $textLg;
    font-family: $secondaryFont;

}



.historia h1 {
    font-size: $textXxl;
    font-family: $secondaryFont;
    color: $terciaryColor;

}

.nuestra-historia h2{
    font-size: $textXl;
    font-family: $mainFont;
}

.nuestra-historia p{
    font-family: $mainFont;
    color: #45A9BF;
}

.historia-flex{
    display: $flex;
    justify-content: space-between;
    text-align: center;

}


.container-historia{
    display: flex;
    justify-content: space-between;
}

.agudeza-title{
    color: $secondaryColor;
}



.img-agudeza{
    width: 32%;
    text-align: center;
    justify-content: center;
    float: inline-start;
}

.container-info{
    display: $flex;
}


.img-anuncios{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.historia h1 h2{
    font-size: $textXxl;
    font-family: $mainFont;
    color: $secondaryColor;

   

    }


    .armazones{
        display: $flex;
        justify-content: space-between;
    }

    .accordion-button button{
        background-color: aliceblue;
    }

    .accordion-body p{
        color: #F28DBC;
        font-size: $textMd;
        font-family: $secondaryFont;
    }

    .mb-1{
        color: white;
    }

    .mb-1  .ojo-seco p{
        color: black;
    }



    .conteiner-card{
        display: flex;
        justify-content: space-between;
        margin-left: 15px;
        margin-right: 15px;
    }



    @media screen and ( max-width: 1024px) {

        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #3999BF; }
            nav ul {
              color: #eff0f2; }
            nav li {
              color: #eff0f2; }
        }
        .conteiner-card{
            display: flex;
            direction: column;
            justify-content: space-between;
            margin-left: 15px;
            margin-right: 15px;
        }
    