$mainColor: #025373;
$secondaryColor:#3999BF;
$terciaryColor: #45A9BF;
$keyColor:  #1760BF;
$fourColor:#eff0f2;
$alternativeColor:  #F27141;
$anothercolor:#80DDF2;

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondaryColor;

    ul{
        color: $fourColor;
    }

    li{
        color: $fourColor;
    }

}

.anuncio__box--white{
   text-align: $align;
    background-color: $fourColor;
    color: darkgray;
    font-size: $textLg;
    width: 100%;

}


main section{
    color: $anothercolor;
    
}

.header-img {
    width: 150px;
    
}

.carousel img {
    width: 1200px;
    margin: auto
}