@import './variables/commons';
@import 'contents';
@import 'fonts';
@import 'navbar';
@import "index";
@import "Nosotros";
@import "Anteojos";
@import "Anteojos-de-sol";
@import "armazones-recetados";
@import "mujer";
@import "Lentes-de-contacto";
@import 'footer';






@mixin botonera ($keyColor, $position, $align-item){
    color: $secondaryColor;
    position: $position;
    align-items: $align-item;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #D95284;
    ul li a{
        color: white;
    }
}

.carousel {
    height: 800px;
    margin-bottom: 20px;
}

.text h2{
  color: $mainColor;
  font-family: $mainFont;
  animation: nE 5s infinite;
}

.mapa{
    width: 300px;
    height: 300px;
}



@media (max-width:1200px){
    nav {
        flex-direction: column;
    }

    nav ul li a {
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
    nav {
        flex-direction: column;
    }

    nav ul li a {
        font-size: 16px;
    }


@media screen and (max-width:768px) {
    nav {
        flex-direction: column;
    }

    nav ul li a {
        font-size: 16px;
    }

    .contenedor {
        grid-template-columns: 30vw 70vw;
        grid-template-areas:
            "numeros numeros"
            "nav nav"
            "header header"
            "filtros productos"
            "ingresos ingresos"
            "aside aside"
            "footer footer";

    }

    #productos .galeria {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #productos .galeria figure {
        width: 90%;
    }

    #aside {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    nav {
        flex-direction: column;
        float: none;
        width: 100%;
    }

    .alert-text {
        overflow: hidden;
    }
}



    @media screen and (max-width: 1024px) {

        .contenedor {
            grid-template-columns: 20vw 70vw 10vw;
            grid-template-areas:
                "numeros numeros numeros"
                "nav nav nav"
                "header header header"
                "filtros productos aside"
                "footer footer footer";
        }

    }

    #aside {
        flex-direction: column;
        align-items: flex-start;
    }

    #aside img {
        width: 70%;

    }

    #productos .galeria figure {
        width: 80%;
    }

    .botonera {
        flex-direction: row;
        justify-content: space-between;
    }

    .botonera img {
        margin-bottom: 0;
    }

    .anuncio__box--white {
        text-align: center;
        font-size: 1.5rem;
        padding: 4px 0;
        position: sticky;
        top: 0;
        width: 100%;
    }
}
