@import './variables/commons';
@import 'contents';
@import 'fonts';
@import 'navbar';
@import "index";
@import "Nosotros";
@import "Anteojos";
@import "Anteojos-de-sol";
@import "armazones-recetados";
@import "mujer";
@import "Lentes-de-contacto";
@import 'footer';




@mixin botonera ($keyColor, $position, $align-item){
    color: $secondaryColor;
    position: $position;
    align-items: $align-item;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3999BF;
}

.carousel {
    height: 800px;
    margin-bottom: 20px;
}

.text h2{
  color: $mainColor;
  font-family: $mainFont;
  animation: nE 5s infinite;
}


