@mixin flex($dire, $justify, $align, $marginb) {
    display: flex;
    flex-direction: $dire;
    justify-content: $justify;
    align-items: $align;
    margin-bottom:20px ;
    
}

@mixin botonera ($keyColor, $position, $align-item) {
    color: $secondaryColor;
    position: $position;
    align-items: $align-item;

}