@media screen and (max-width:768px) {
    nav {
        flex-direction: column;
    }

    .contenedor {
        grid-template-columns: 30vw 70vw;
        grid-template-areas:
            "numeros numeros"
            "nav nav"
            "header header"
            "filtros productos"
            "ingresos ingresos"
            "aside aside"
            "footer footer";

    }

    #productos .galeria {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #productos .galeria figure {
        width: 90%;
    }

    #aside {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}

@media screen and (max-width: 1024px) {

    .contenedor {
        grid-template-columns: 20vw 70vw 10vw;
        grid-template-areas:
            "numeros numeros numeros"
            "nav nav nav"
            "header header header"
            "filtros productos aside"
            "footer footer footer";
    }

    #aside {
        flex-direction: column;
        align-items: flex-start;
    }

    #aside img {
        width: 70%;

    }

    #productos .galeria figure {
        width: 80%;
    }

    .botonera {
        flex-direction: row;
        justify-content: space-between;
    }

    .botonera img {
        margin-bottom: 0;
    }

        .anuncio__box--white {
            text-align: center;
            background-color: white;
            color: darkgray;
            font-size: 1.5rem;
            padding: 4px 0;
            position: sticky;
            top: 0;
            width: 100%;
           }

           nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #3999BF;
        }
        
        nav ul li a {
            color: #eff0f2;
            text-decoration: none;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1rem; padding: var(--spacing-xsmall) 1.2rem; transition: all 2s;
        }
